/*
# Creator: Arreaum
# GitHub: https://github.com/arriaoedu123/
# Creation date: 29/03/2021
# Update date: 30/03/2021
# Version: 1.1
*/

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Fira Code, sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	background: black;
}

.visor_calculadora {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.cor-numero {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255,255,255, .75) ;
}

.cor-numero:hover {
	background-color: rgba(255,255,255, .9) ;
}

.cor-operacao {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(105,105,105, .7);
}

.cor-operacao:hover {
	background-color: rgba(105,105,105, .9);
}

.span-two {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(220,20,60, .7);
	grid-column: span 2;
}

.span-two:hover {
	background-color: rgba(220,20,60, .9);
}

.span-two-igual {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(65,105,225, .5);
	grid-column: span 2;
}

.span-two-igual:hover {
	background-color: rgba(65,105,225, .9);
}

.negocio_dos_numeros {
	grid-column: 1 / -1;
	background-color: rgba(255, 255, 255, .5);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.negocio_dos_numeros .numero_anterior {
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;
}

.negocio_dos_numeros .numero_atual {
	color: white;
	font-size: 2.5rem;
}
